<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This source code is copyright (c) 2012 Pixelus Consulting Pty Ltd.  All
  ~ rights reserved.
  ~
  ~ Should you wish to use or enquire about any of the content contained please
  ~ contact David Mouser (david.mouser@gmail.com).
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!-- Treat any /resources/** requests as static content -->
    <mvc:resources mapping="/resources/**" location="/assets/"/>

    <!-- Configures the @Controller programming model -->
    <mvc:annotation-driven/>

    <context:component-scan base-package="com.pixelus.web"/>

    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="mediaTypes">
            <map>
                <entry key="html" value="text/html"/>
                <entry key="json" value="application/json"/>
            </map>
        </property>
        <property name="viewResolvers">
            <list>
                <bean class="org.springframework.web.servlet.view.BeanNameViewResolver"/>
                <bean class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
                    <property name="cache" value="false"/>
                    <property name="prefix" value="/WEB-INF/velocity/"/>
                    <property name="suffix" value=".vm"/>
                    <property name="order" value="1"/>
                    <property name="exposeSpringMacroHelpers" value="true"/>
                </bean>
                <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                    <property name="prefix" value="/WEB-INF/jsp/"/>
                    <property name="suffix" value=".jsp"/>
                    <property name="order" value="2"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="messageSource"
          class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages"/>
    </bean>

    <!--<bean id="handlerMapping" class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">-->
    <!--<property name="interceptors">-->
    <!--<bean class="example.MyInterceptor"/>-->
    <!--</property>-->
    <!--</bean>-->

    <!--<bean id="jspViewResolver"-->
    <!--class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
    <!--<property name="prefix" value="/WEB-INF/jsp/"/>-->
    <!--<property name="suffix" value=".jsp"/>-->
    <!--<property name="order" value="2"/>-->
    <!--</bean>-->

    <mvc:view-controller path="welcome.html" view-name="welcome"/>
    <mvc:view-controller path="users.html" view-name="users"/>
    <mvc:view-controller path="welcome-velocity.html" view-name="welcome-velocity"/>

    <!--
      This bean sets up the Velocity environment for us based on a root path for templates.
      Optionally, a properties file can be specified for more control over the Velocity
      environment, but the defaults are pretty sane for file based template loading.
    -->
    <bean id="velocityConfig"
          class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="/"/>
    </bean>
</beans>