<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This source code is copyright (c) 2012 Pixelus Consulting Pty Ltd.  All
  ~ rights reserved.
  ~
  ~ Should you wish to use or enquire about any of the content contained please
  ~ contact David Mouser (david.mouser@gmail.com).
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!-- Treat any /resources/** requests as static content -->
    <mvc:resources mapping="/resources/**" location="/resources/"/>

    <!-- Configures the @Controller programming model -->
    <mvc:annotation-driven/>

    <context:component-scan base-package="com.pixelus.web"/>

    <!-- Resolves view names to protected .jsp resources within the /WEB-INF/views 
        directory -->
    <bean
            class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="mediaTypes">
            <map>
                <entry key="html" value="text/html"/>
                <entry key="json" value="application/json"/>
            </map>
        </property>
        <property name="viewResolvers">
            <list>
                <bean class="org.springframework.web.servlet.view.BeanNameViewResolver"/>
                <bean
                        class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                    <property name="prefix" value="/WEB-INF/views/"/>
                    <property name="suffix" value=".jsp"/>
                </bean>

            </list>
        </property>
    </bean>

    <bean id="messageSource"
          class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages"></property>
    </bean>
</beans>